<div class="offer">
<div class="container">
	<div class="main--title --darkBlue --center --big fadeInTrigger">Wybierz jeden spośród 6 rodzajów  wizyt</div>
	<div class="description  fadeInTrigger">Jeśli masz wątpliwości, zapisz się na początek na konsultację psychologiczną. Specjalista podpowie Ci, co dalej.</div>


	<div class="offer--elements">

		<div class="offer--element fadeInTrigger">
			<div class="offer--title ">Konsultacja
			</br>
			psychologiczna</div>
		<a  href="{{path('doctor_list')}}"  class="btn--primary offer--btn">
			<p>Znajdź specjalistę</p><img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a>
	</div>

	<div class="offer--element fadeInTrigger">
		<div class="offer--title">Psychoterapia
		</br>
		indywidualna</div>
	<a href="{{path('doctor_list')}}" class="btn--primary offer--btn">
		<p>Znajdź specjalistę</p><img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a>
</div>

<div class="offer--element fadeInTrigger">
	<div class="offer--title">Interwencja
	</br>
	kryzysowa</div>
<a  href="{{path('doctor_list')}}" class="btn--primary offer--btn">
	<p>Znajdź specjalistę</p>
    <img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a>
    </div>
    <div class="offer--element fadeInTrigger">
<div class="offer--title">Psychoedukacja</div>
<a href="{{path('doctor_list')}}"  class="btn--primary offer--btn">
	<p>Znajdź specjalistę</p><img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a>
    </div>
    
    <div class="offer--element fadeInTrigger">
<div class="offer--title">Coaching</div>
<a href="{{path('doctor_list')}}"  class="btn--primary offer--btn">
	<p>Znajdź specjalistę</p><img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a>
    
</div>
    
    <div class="offer--element fadeInTrigger">
<div class="offer--title">Mindfulness</div>
<a href="{{path('doctor_list')}}"  class="btn--primary offer--btn">
	<p>Znajdź specjalistę</p><img class="offer--arrow" src="{{ asset('images/arrow.svg') }}"/></a></div></div></div></div></div>


</div>