{% extends 'base.site.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('patient-profile') }}
{% endblock %}
{% block body %}

	<div data-id={{patient.id}} id="patientProfile"></div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('patient-profile') }}
{% endblock %}
