<div class="offer">
	<div class="container">
		<div class="main--title --big --darkBlue --center --m600 fadeInTrigger">
			Co Ci oferujemy?</div>


	</div>


	<div class="container offer--icons">

		<div class="offer--icon fadeInTrigger">
			<div class="offer--image"><img src="{{ asset('images/1.svg') }}"/></div>
			<div class="offer--title">{{cms.work_offer1_title}}</div>
			<div class="offer--desc">{{cms.work_offer1_description}}</div>
		</div>
		<div class="offer--icon fadeInTrigger">
			<div class="offer--image"><img src="{{ asset('images/1.svg') }}"/></div>
				<div class="offer--title">{{cms.work_offer2_title}}</div>
			<div class="offer--desc">{{cms.work_offer2_description}}</div>
		</div>

		<div class="offer--icon fadeInTrigger">
			<div class="offer--image"><img src="{{ asset('images/1.svg') }}"/></div>
		<div class="offer--title">{{cms.work_offer3_title}}</div>
			<div class="offer--desc">{{cms.work_offer3_description}}</div>
		</div>

	</div>
</div>
