<div class='container'>
<div class='pricelist container'>


	<div class="main--title --big --darkBlue --center --m600 fadeInTrigger">
		Cennik</div>
	<div style="margin: 0 auto" class="main--subtitle --m600 --center fadeInTrigger">
		Dla każdego rodzaju wizyty wybierasz jeden z 3 progów cennika

	</div>


    <div class='prices'>

            <div class='price-item box-shadow fadeInTrigger'>
                <div class="title">{{cms.work_price1_title}}</div>
                <div class="price">140 zł</div>
                <div class="description">{{cms.work_price1_description}}</div>
            </div>

            <div class='price-item box-shadow fadeInTrigger'>
                <div class="title">{{cms.work_price3_title}}</div>
                <div class="price">180 zł</div>
                <div class="description">{{cms.work_price2_description}}</div>
            </div>

            <div class='price-item box-shadow fadeInTrigger'>
                <div class="title">{{cms.work_price3_title}}</div>
                <div class="price">220 zł</div>
                <div class="description">{{cms.work_price3_description}}</div>
            </div>

    </div>


</div>
</div>
