{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('admin-newsletter') }}

{% endblock %}
{% block body %}

	<div class="subpage--intro">
		<h2 class="title">Newsletter</h2>
        	<div class="label" style="display:flex;">
	        {# <a href="{{path('admin_doctor-create')}}"  class="btn--secondary">Dodaj</a> #}
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="toast-success">
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="toast-error">
		</div>
	{% endfor %}

<div class="subpage--content">
    <div id="newsletterList"></div>
</div>

	{# <div class="subpage--content">
		<table>
			<tr>
				<th>ID</th>
				<th>Imię i nazwisko</th>
				<th>Email</th>
				<th>Data zgłoszenia</th>
			</tr>
			{% for newsletter in paginate.data %}
    
				<tr>
	
					<td>{{newsletter.id}}</td>
					<td>{{newsletter.username}}</td>
                    				<td>{{newsletter.email}}</td>
           			<td>{{newsletter.createdAt|date('d-m-Y')}}</td>

				</tr>
			{% endfor %}
			
		</table>
	</div>


	{% include 'components/pagination/index.html.twig' with {'paginate': paginate} only %} #}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
		{{ encore_entry_script_tags('admin-newsletter') }}
{% endblock %}
