{% extends 'base.admin.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin-edit-category') }}

{% endblock %}
{% block body %}

    <div class="subpage--intro">
		<h2 class="title">Edytuj kategorię {{category.name}}</h2>
        	<div class="label" style="display:flex;">
	        <a href="{{path('admin_category')}}"  class="btn--primary">Wróć</a>
		</div>
	</div>
	
    <div class="subpage--content">
	<div class="container">

    <div data-id={{category.id}} id="editCategory"></div> 
	
	</div>
    </div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
  {{ encore_entry_script_tags('admin-edit-category') }}
{% endblock %}
